.App {
  margin: 2%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/**
  Post list
*/
.post{
  font-size: 0.9em;
  margin-bottom: 30px;
  border: solid;
  border-width: thin;
  border-radius: 0.5em;
  padding: 1em;
}

.voting{
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 15px;
  font-size: 0.8em;
  text-align: center;
}

.vote {
  font-size: 1.2em;
}

.score{
  margin-left: 12px;
  text-align: center;
  font-weight: bold;
}

.categories{
  display: flex;
  flex-wrap: wrap;
}
.categories li{
  float: left;
  margin-left: 3em;
}

ul{
  list-style: none;
}

/**
  New post
*/

.buttons .btn {
  margin-right: 2em;
  margin-top: 1em;
}

.buttons a, .buttons a:visited{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #aaa;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
