html{
  height: 100%;
}
body {
  background: rgba(160, 200, 180, 0.7);
  height: 100%;
}

.container{
  background: #dedede99;
  min-height: 100%;
  max-width: 850px;
}

a{
  color: #111;
}

.App-title {
  font-size: 1.5em;
  padding: 1em;
  width: 100%;
  color: #ed3344;
}

/**
  Post list and Details
*/
.post{
  font-size: 0.9em;
  margin: 10px;
  margin-bottom: 30px;
  border: solid;
  border-width: thin;
  border-radius: 0.5em;
  padding: 1em;
}

.post-detail{
  padding: 1em;
}

.post .btn-light,
.post-detail .btn-light{
  background-color: transparent;
}

.voting{
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 15px;
  font-size: 0.8em;
  text-align: center;
}

.vote {
  font-size: 1.2em;
}

.score{
  margin-left: 12px;
  text-align: center;
  font-weight: bold;
}

.categories{
  display: flex;
  flex-wrap: wrap;
}
.categories li{
  float: left;
  margin-left: 3em;
}

ul{
  padding: 0;
  list-style: none;
}

.details button {
  margin-left: 10px;
}

/**
  New post
*/

.buttons .btn {
  margin-right: 2em;
  margin-top: 1em;
}

.buttons a, .buttons a:visited{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #777;
}

/**
  Modal
*/

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.form-modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: #fafefa;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.new-post {
  width: 100%;
  margin-top: 10%;
}

.btn-new-post{
  background-color: transparent;
  color: #111;
}

/* Comments */
.comment {
  border: solid;
  border-width: thin;
  border-radius: 0.3em;
  padding: 1em;
  margin: 1.5em;
  background-color: #cdc;
}

.comment-list .row{
  margin: 2em;
}

.comment-details button{
  margin-left: 1em;
}
